<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
   <header class="bg-white sticky top-0 shadow-md">
  <nav class="flex items-center justify-between px-5 py-3 max-w-6xl mx-auto">
    
    <!-- Logo -->
    <div>
      <a href="{% url 'dashboard' %}" class="hover:cursor-pointer text-lg md:text-xl font-bold">Django Thoughts<a/>
    </div>

    <!-- Hamburger button for mobile -->
    <div class="md:hidden">
      <button id="menu-btn" class="text-gray-700 focus:outline-none ">
        <svg class="w-6 h-6 hover:cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
      </button>
    </div>

    <!-- Navigation links -->
    <div id="menu" class="hidden md:flex flex-col md:flex-row md:items-center md:gap-10 gap-6 absolute md:static bg-white left-0 top-12 md:top-auto w-full md:w-auto px-5 py-5 md:py-0 shadow md:shadow-none transition-all duration-300">
      <ul class="flex flex-col md:flex-row md:items-center md:gap-10 gap-6">
        <li><a href="{% url 'dashboard' %}" class="hover:text-gray-500">Dashboard</a></li>
        <li><a href="{% url 'add_thought' %}" class="hover:text-gray-500">Add Thought</a></li>
      </ul>
      <div class="flex md:w-[15%] w-[30%]  flex-col md:flex-row mt-4 md:mt-0 md:gap-5 gap-3">
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="bg-green-500 text-center text-white px-5 py-2 rounded-full hover:bg-green-400">Logout</a>
        {% else %}
          <a href="{% url 'login' %}" class="bg-blue-500 text-center text-white px-5 py-2 rounded-full hover:bg-blue-400">Login</a>
          <a href="{% url 'register_user' %}" class="bg-blue-500 text-center text-white px-5 py-2 rounded-full hover:bg-blue-400">Register</a>

          {% endif %}
      </div>
    </div>

    </nav>
    </header>

    <script>
    // Mobile menu toggle
    const menuBtn = document.getElementById('menu-btn');
    const menu = document.getElementById('menu');

    menuBtn.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
    </script>

    {% if messages %}
      {% for message in messages %}
        <div class="bg-blue-400 p-5">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% block body %}
    {% endblock %}
</body>
</html>